.best-offer {
  width: 150px;
  height: 60px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  z-index: 10;
  background-color: transparent;
  @include flexProperty(flex, row, center, center);
  @include setFont(400, 1.2rem, 1.2rem, 1px);
  color: white;
  &:hover{
    background-color: white;
    color: $primary-color;
  }
}

@include media-sm {
  .best-offer{
    width: 100px;
    height: 40px;
    z-index: 10;
    @include setFont(400, 1rem, 1rem, 1px);
  }
}
