.scroll-to-top {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  bottom: 100px;
  right: 40px;
  z-index: 11;
  background: #ffae57;


  img {
    border: none;
    width: 24px;
    height: 24px;
    transition: ease-in-out 250ms;

    &:hover {
      transform: translateY(-8px);
    }
  }
}
